.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

body {
  font-size: 20;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

text {
  font-size: 20;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

